<div class="row justify-content-center">

    <div class="col-md-8 mb-2">
        <ul class="userProfiles">
            <li><span>Date: </span>29-05-2024 </li>
            <li><span>User :</span></li>
            <li><span>Role: </span> </li>
        </ul>
    </div>
    <div class="col-md-8 customCardDiv">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-pink">Create Ticket</h5>
                <a href="javscript:void();" class="btn btn-sm btn-primary">Back</a>
            </div>
            <div class="card-body">
                <!-- Accrodian -->
                <div id="accordionContainer" class="acc-container"></div>
                <!-- Accrodian -->
            </div>
        </div>
    </div>

</div>