<div class="row justify-content-center">

    <div class="col-md-8">
        <div class="row">
            <div class="col-4 col-md-4">
                <div class="iconDiv">
                    <a asp-controller="Admin" asp-action="CreateUser">
                        <img src="~/images/add-user.svg" class="img-fluid mx-auto d-block">
                        <span>Create User</span>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="iconDiv">
                    <a asp-controller="Admin" asp-action="AssignRole">
                        <img src="~/images/delegation.svg" class="img-fluid mx-auto d-block">

                        <span>Assign Role</span>
                    </a>
                </div>
            </div>
            <div class="col-4 col-md-4">
                <div class="iconDiv">
                    <a asp-controller="Admin" asp-action="CreateTicket">
                        <img src="~/images/ticket.svg" class="img-fluid mx-auto d-block">
                        <span>Create Tiket</span>
                    </a>
                </div>
            </div>
        </div>
    </div>  

</div>